<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<add key="WSGI_HANDLER" value="main.wsgi_app" />
		<add key="PYTHONPATH" value="C:\inetpub\commissionapi" />
	</appSettings>

	<system.webServer>
		<handlers>
			<add name="FastAPI Handler" path="*" verb="*" type="" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python311\python.exe|&quot;C:\Program Files\Python311\Lib\site-packages\wfastcgi.py&quot;" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="" responseBufferLimit="4194304" />
		</handlers>
		<directoryBrowse enabled="true" />
	</system.webServer>
</configuration>